%footer.page-foot.main-content
  %div.container
    %div.logo-container
      %a.logo{href: "#"}
    %ul.page-foot__nav
      %li
        %h4 Contact
      %li
        = mail_to("info@demuxed.com", "General Info")
      %li
        = mail_to("sponsor@demuxed.com", "I want to sponsor!")

      / %li
      /   %a.signup-btn{href:"http://tickets.demuxed.com/"} Register now


    %ul.page-foot__nav
      %li
        %h4 Legal Stuff
      %li
        = link_to("Code of Conduct", "http://confcodeofconduct.com/")
      %li
        = link_to("Privacy", "/")

    %ul.page-foot__nav.page-foot__social
      %li
        %h4 Follow us
      %li.twitter
        = link_to("Twitter", "https://twitter.com/demuxed", class: "twitter", target: "_blank")

      %li.youtube
        = link_to("YouTube", "https://www.youtube.com/channel/UCIc_DkRxo9UgUSTvWVNCmpA", class: "youtube", target: "_blank")

    .made-with
      Organized with 💖
      %br
      by video nerds in SF.
