%header.page-head
  %div.container
    %a.logo{href: "/index.html"}

    %a#js-menu-btn.menu-btn{href: "#"}

    %nav#js-main-nav.page-head__nav
      %ul
        %li
          = link_to("Speakers", "/#speakers")
        %li
          = link_to("Schedule", "/#schedule")
        %li
          = link_to("Location", "/#location")
        %li
          = link_to("About", "/#about-us")
        %li
          = link_to("Our Sponsors", "/#sponsors")
        %li
          = link_to("Meetups", "/meetups")
