- unless speaker.spacer
  %li.speakers-list__card{id: speaker.name.downcase.split(' ').join('-')}
    %div.speakers-list__img-wrap
      = image_tag("/images/speakers/#{speaker.name.downcase.split(' ').join('-')}.thumb.jpg", alt: "", class: "speakers-list__img")
    %h3.speakers-list__name= speaker.name
    %h4.speakers-list__company= speaker.company
    %p.speakers-list__talk-title
      = data.talks[speaker.talk].title
      - if data.talks[speaker.talk].speakers.length > 1
        %span.joint (joint talk)
    %a.speakers-list__btn.talk-modal-link{data: {custom: {open: speaker.talk}}} Talk Overview
- else
  %li.speakers-list__card
