- id = talk[0]
- details = talk[1]
.modal{id: id, aria: {hidden: true}}
  .modal__overlay{tabindex: -1, data: {custom: {close: true}}}
    .modal__container{role: "dialog", aria: {modal: true, labelledby: "#{id}-title"}}
      %main.modal__content{id: "#{id}-content"}
        %a.modal-btn(data-custom-close)
        .speakers
          - details.speakers.each do |speaker_name|
            - speaker = speakers.find{ |s| s.name == speaker_name if s.name }
            .speaker_details
              .speakers-list__img-wrap
                = image_tag("/images/speakers/#{speaker.name.downcase.split(' ').join('-')}.jpg", alt: "", class: "speakers-list__img")
              %h3.speakers-list__name= speaker.name
              %h4.speakers-list__company= speaker.company

        .content= Tilt['markdown'].new { details.description }.render
