---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container
    %div.home-hero__text
      %a.logo{href: "/index.html"}
      %h1.home-hero__heading
        The Conference for Video Engineers
      %h2.home-hero__sub-heading
        October 17th and 18th, 2018
        %br.break
        Bespoke, San Francisco, CA
      %a.home-hero__btn{href:"http://tickets.demuxed.com/"} Tickets
      %br
      %a.home-hero__btn-submit{href:"/submit"} Submit a talk

    = image_tag("/images/hero-illustration.svg", alt: "Demuxed illustration", class: "hero-illustration")
    = image_tag("/images/hero-shapes.svg", alt: "", class: "hero-shapes")
    = image_tag("/images/hero-shapes2.svg", alt: "", class: "hero-shapes2")

%section.why#why
  %div.container
    %h2.section-heading
      Why?
      %span
        Attend Demuxed

    %ul.why__list
      %li.no-marketing
        %h3 No paid content, ever.
        %p Speakers are selected based on their submission, not how much money their company paid; we will never, ever sell a speaking slot. Attendee information isn't for sale either, and that includes any sponsors.
      %li.affordable
        %h3 Affordable.
        %p
          We want anyone in the industry to be able to come, which means keeping tickets reasonably priced (thanks
          largely to our generous sponsors). We also offer free and discounted tickets to students and open source
          contributors, so please <a href="mailto:info@demuxed.com">reach out</a> if you're interested.
      %li.for-everyone
        %h3 For everyone in the community.
        %p
          Our community is dedicated to providing an inclusive, enjoyable experience for everyone in
          the video industry. In this pursuit, and in keeping with our love for reasonable standards,
          we adopted the Ada Initiative's <a href="/code-of-conduct.html">Conf Code of Conduct</a>.


    %div.share-box
      %h4.share-box__title
        Share using
      %h3.share-box__text
        \#Demuxed2018

    = image_tag("/images/why-photo.jpg", alt: "Demuxed audience", class: "why-photo")
    = image_tag("/images/why-photo2.jpg", alt: "Demuxed conference speaker", class: "why-photo2")
    = image_tag("/images/why-photo3.jpg", alt: "Demuxed audience", class: "why-photo3")
    %div.grey-box.why-box1
    %div.grey-box.why-box2
    %div.pink-box.why-box3
    %div.purple-box.why-box4
    %div.pink-box.why-box5


%section.speakers#speakers
  %div.container
    = image_tag("/images/speakers-photo.jpg", alt: "Demuxed conference location", class: "speaker-photo")

    %h2.section-heading
      15
      %span
        Amazing speakers

    %ul.speakers-list
      / %li.speakers-list__card#mark-watson
      /   = image_tag("/images/mark-watson.jpg", alt: "", class: "speakers-list__img")
      /   %h3.speakers-list__name Mark Watson
      /   %h4.speakers-list__company Netflix
      /   %p.speakers-list__talk-title Lorem ipsum dolor sit amet
      /   %a.speakers-list__btn{href:"#popup-mark-watson"} Talk Overview

      %li.speakers-list__card#tarek-amara
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Tarek Amara
        %h4.speakers-list__company Twitch
        %p.speakers-list__talk-title Lorem ipsum dolor sit amet
        %a.speakers-list__btn{href:"#popup-tarek-amara"} Talk Overview

      %li.speakers-list__card#megha-manohara
        %div.speakers-list__img-wrap
          = image_tag("/images/megha-manohara.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Megha Manohara
        %h4.speakers-list__company Netflix
        %p.speakers-list__talk-title 250 kbps
        %a.speakers-list__btn{href:"#popup-tarek-amara"} Talk Overview

        /Blank space for wide layout
      //%li.speakers-list__card.blank

      %li.speakers-list__card#derek-buitenhuis
        %div.speakers-list__img-wrap
          = image_tag("/images/derek-buitenhuis.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Derek Buitenhuis
        %h4.speakers-list__company Vimeo
        %p.speakers-list__talk-title Things Developers Believe About Video Files (Proven Wrong by User Uploads)
        %a.speakers-list__btn{href:"#popup-derek-buitenhuis"} Talk Overview

      %li.speakers-list__card#daniel-weinberger
        %div.speakers-list__img-wrap
          = image_tag("/images/daniel-weinberger.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Daniel Weinberger
        %h4.speakers-list__company Vimeo
        %p.speakers-list__talk-title Ambisonic Audio Using the WebAudio API
        %a.speakers-list__btn{href:"#popup-daniel-weinberger"} Talk Overview

      %li.speakers-list__card#gary-katsevman
        %div.speakers-list__img-wrap
          = image_tag("/images/gary-katsevman.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Gary Katsevman
        %h4.speakers-list__company Vimeo
        %p.speakers-list__talk-title Ambisonic Audio Using the WebAudio API
        %a.speakers-list__btn{href:"#popup-gary-katsevman"} Talk Overview

      %li.speakers-list__card#kieran-kunhya
        %div.speakers-list__img-wrap
          = image_tag("/images/kieran-kunhya.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Kieran Kunhya
        %h4.speakers-list__company OBS
        %p.speakers-list__talk-title Why broadcasters use IP
        %a.speakers-list__btn{href:"#popup-kieran-kunhya"} Talk Overview

      %li.speakers-list__card#sytse
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Sytse
        %h4.speakers-list__company Unified Streaming
        %p.speakers-list__talk-title Dynamic server-side stitching
        %a.speakers-list__btn{href:"#popup-sytse"} Talk Overview

      %li.speakers-list__card#allison-deal
        %div.speakers-list__img-wrap
          = image_tag("/images/allison-deal.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Allison Deal
        %h4.speakers-list__company Hulu
        %p.speakers-list__talk-title Live Linear Ads
        %a.speakers-list__btn{href:"#popup-allison-deal"} Talk Overview

      %li.speakers-list__card#phil-cluff
        %div.speakers-list__img-wrap
          = image_tag("/images/phil-cluff.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Phil Cluff
        %h4.speakers-list__company Brightcove
        %p.speakers-list__talk-title 0 - 18,000 RPS - Repackaging at scale
        %a.speakers-list__btn{href:"#popup-phil-cluff"} Talk Overview

      %li.speakers-list__card#matt-ward
        %div.speakers-list__img-wrap
          = image_tag("/images/matt-ward.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Matt Ward
        %h4.speakers-list__company Mux
        %p.speakers-list__talk-title Shitty CDNs
        %a.speakers-list__btn{href:"#popup-matt-ward"} Talk Overview

      %li.speakers-list__card#strobe
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Strobe
        %h4.speakers-list__company YouTube
        %p.speakers-list__talk-title Playback Visualization and its Applications
        %a.speakers-list__btn{href:"#popup-strobe"} Talk Overview

      %li.speakers-list__card#scott-kellicker
        %div.speakers-list__img-wrap
          = image_tag("/images/scott-kellicker.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Scott Kellicker
        %h4.speakers-list__company Wowza
        %p.speakers-list__talk-title 3 Second End to End Latency At Scale
        %a.speakers-list__btn{href:"#popup-scott-kellicker"} Talk Overview

      %li.speakers-list__card#jamie-sherry
        %div.speakers-list__img-wrap
          = image_tag("/images/jamie-sherry.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Jamie Sherry
        %h4.speakers-list__company Wowza
        %p.speakers-list__talk-title 3 Second End to End Latency At Scale
        %a.speakers-list__btn{href:"#popup-jamie-sherry"} Talk Overview

      %li.speakers-list__card#rik-heijdens
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Rik Heijdens
        %h4.speakers-list__company JWPlayer
        %p.speakers-list__talk-title Leveraging Artificial Intelligence for Scene Detection in Broadcast Video
        %a.speakers-list__btn{href:"#popup-rik-heijdens"} Talk Overview

      %li.speakers-list__card#vittorio-giovara
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Vittorio Giovara
        %h4.speakers-list__company Vimeo
        %p.speakers-list__talk-title Color me Intrigued
        %a.speakers-list__btn{href:"#popup-vittorio-giovara"} Talk Overview

      %li.speakers-list__card#reinhard-grandl
        %div.speakers-list__img-wrap
          = image_tag("/images/reinhard-grandl.jpg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Reinhard Grandl
        %h4.speakers-list__company Bitmovin
        %p.speakers-list__talk-title Going beyond bitrate (Scene-specific ABR)
        %a.speakers-list__btn{href:"#popup-reinhard-grandl"} Talk Overview

      %li.speakers-list__card#rik-heijdens
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Rik Heijdens
        %h4.speakers-list__company JWPlayer
        %p.speakers-list__talk-title Leveraging Artificial Intelligence for Scene Detection in Broadcast Video
        %a.speakers-list__btn{href:"#popup-rik-heijdens"} Talk Overview

      %li.speakers-list__card#rik-heijdens
        %div.speakers-list__img-wrap
          = image_tag("/images/default-avatar.svg", alt: "", class: "speakers-list__img")
        %h3.speakers-list__name Rik Heijdens
        %h4.speakers-list__company JWPlayer
        %p.speakers-list__talk-title Leveraging Artificial Intelligence for Scene Detection in Broadcast Video
        %a.speakers-list__btn{href:"#popup-rik-heijdens"} Talk Overview








    = image_tag("/images/zoetrope.svg", alt: "", class: "speaker-illustration")
    = image_tag("/images/drone.svg", alt: "", class: "speaker-illustration2")
    = image_tag("/images/speakers-photo2.jpg", alt: "", class: "speaker-photo2")
    = image_tag("/images/speakers-photo3.jpg", alt: "", class: "speaker-photo3")
    %div.purple-box.speaker-box1
    %div.pink-box.speaker-box2
    %div.grey-box.speaker-box3
    %div.purple-box.speaker-box4
    %div.pink-box.speaker-box5


%section.modal#popup-scott-kellicker
  %div.modal__container.popup
    %a.modal-btn{href: "#scott-kellicker"}
    %div.speakers-list__img-wrap
      = image_tag("/images/scott-kellicker.jpg", alt: "", class: "speakers-list__img")
    %h3.speakers-list__name Scott Kellicker
    %h4.speakers-list__company Wowza
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


%section.schedule#schedule
  %div.schedule-day-one
    %div.container
      %h2.section-heading
        Demuxed
        %span
          Schedule
      %div.schedule-text
        %h2 Our Schedule
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      %ul.schedule-list
        %li.schedule-list__title
          %h2.section-sub-heading
            Wednesday
            %br October 17th, 2018

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Registration
            %p.schedule-list__talk

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.45am &ndash; 9.00am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Opening remarks
            %p.schedule-list__talk

        %li.schedule-list__item
          %h4.schedule-list__time
            9.00am &ndash; 9.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Mark Williams
            %p.schedule-list__talk
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li.schedule-list__item
          %h4.schedule-list__time
            9.45am &ndash; 10.15am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Thomas Daede
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Tarke Amara
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            9.00am &ndash; 9.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Mark Williams
            %p.schedule-list__talk
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li.schedule-list__item
          %h4.schedule-list__time
            9.45am &ndash; 10.15am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Thomas Daede
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Tarke Amara
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Break
            %p.schedule-list__talk

      %div.purple-box.schedule-box1
      %div.pink-box.schedule-box2

  %div.schedule-day-two
    %div.container
      %ul.schedule-list
        %li.schedule-list__title
          %h2.section-sub-heading
            Thursday
            %br October 18th, 2018
            %span
              Morning

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Registration
            %p.schedule-list__talk

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.45am &ndash; 9.00am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Opening remarks
            %p.schedule-list__talk

        %li.schedule-list__item
          %h4.schedule-list__time
            9.00am &ndash; 9.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Mark Williams
            %p.schedule-list__talk
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li.schedule-list__item
          %h4.schedule-list__time
            9.45am &ndash; 10.15am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Thomas Daede
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Tarke Amara
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Break
            %p.schedule-list__talk


      %ul.schedule-list.pm
        %li.schedule-list__title
          %h2.section-sub-heading
            %span
              Afternoon

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Registration
            %p.schedule-list__talk

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.45am &ndash; 9.00am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Opening remarks
            %p.schedule-list__talk

        %li.schedule-list__item
          %h4.schedule-list__time
            9.00am &ndash; 9.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Mark Williams
            %p.schedule-list__talk
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li.schedule-list__item
          %h4.schedule-list__time
            9.45am &ndash; 10.15am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Thomas Daede
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Tarke Amara
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item.break
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Break
            %p.schedule-list__talk

        %li.schedule-list__item
          %h4.schedule-list__time
            9.00am &ndash; 9.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Mark Williams
            %p.schedule-list__talk
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li.schedule-list__item
          %h4.schedule-list__time
            9.45am &ndash; 10.15am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Thomas Daede
            %p.schedule-list__talk
              Lights, camera, artwork

        %li.schedule-list__item
          %h4.schedule-list__time
            8.00am &ndash; 8.45am
          %div.schedule-list__content
            %h3.schedule-list__speaker
              Tarke Amara
            %p.schedule-list__talk
              Lights, camera, artwork




      %div.after-party
        %h2
          After party!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.




%section.location#location
  %div.container
    %h2.section-heading
      Venue &
      %span
        location

    %div.location-text
      %h2
        Bespoke, SF
      %p
        Bespoke is a trifecta of coworking, demo, and event spaces strategically located at Westfield San Francisco in the epicenter of downtown, where tech and retail marketplaces converge.

      %p
        Bespoke is located inside Westfield San Francisco Centre on Level 4 next to Bloomingdale’s
        Westfield San Francisco Centre


      %a{href:"http://www.bespokesf.co/"}Bespoke.com

    %a.map-link{href:"https://goo.gl/maps/uAVLK7xy6cF2"}
      = image_tag("/images/map.jpg", alt: "", class: "")

    = image_tag("/images/location-photos.jpg", alt: "", class: "location-photos")
    = image_tag("/images/location-illustration.svg", alt: "", class: "location-illustration")
    %div.purple-box.location-box1
    %div.pink-box.location-box2



%section.about-us#about-us
  %div.container
    = image_tag("/images/about-us-photo.jpg", alt: "Demuxed conference", class: "about-us-photo")

    %h2.section-heading
      About
      %span
        Demuxed

    %div.about-us__text
      %p
        Demuxed is simply engineers talking about video technology. After years of chatting about video at the
        <a href="http://www.meetup.com/SF-Video-Technology/">SF Video Technology Meetup</a>, we decided it was time
        for an engineer-first event with quality technical talks about video. Our focus has traditionally
        been on content delivered over the web, but topics cover anything from encoding to playback and more!

      %h3 Yeah but who are <span style="text-decoration:underline">you</span>?
      %p
        Most of the organization and work behind the scenes is done by folks from <a href="https://mux.com">Mux</a> (Demuxed came first ☝️) but
        none of this would be possible without amazing people from the meetup.

      %p
        Every year we get a group together that's kind enough to do things like schedule planning, help brainstorm cool
        swag, and, most importantly, argue heatedly over which talk submissions should make the final cut.

    = image_tag("/images/about-us-photo2.jpg", alt: "Demuxed conference speaker", class: "about-us-photo2")
    = image_tag("/images/about-us-photo3.jpg", alt: "Demuxed attendees", class: "about-us-photo3")
    %div.grey-box.about-box1
    %div.pink-box.about-box2


%section.sponsors#sponsors
  %div.container
    = image_tag("/images/film-reel.svg", alt: "Film reel illustration", class: "sponsors-illustration")

    %div.grey-box.sponsors-box1
    %div.purple-box.sponsors-box2

    %h2.section-heading
      Amazing 2018
      %span Sponsors

    %h4.sponsors__type
      Platinum

    %ul.sponsors__sponsor-list.platinum
      %li
        = image_tag("/images/comcast.svg", alt: "", class: "")

    %h4.sponsors__type
      Gold

    %ul.sponsors__sponsor-list.gold
      %li
        = image_tag("/images/google.svg", alt: "", class: "")
      %li
        = image_tag("/images/bitmovin.svg", alt: "", class: "")
      %li
        = image_tag("/images/netflix.svg", alt: "", class: "")


    %h4.sponsors__type
      Silver

    %ul.sponsors__sponsor-list.silver
      %li
        = image_tag("/images/wowza.svg", alt: "", class: "")
      %li
        = image_tag("/images/fastly.svg", alt: "", class: "")
      %li
        = image_tag("/images/cbs.svg", alt: "", class: "")
      %li
        = image_tag("/images/peer5.svg", alt: "", class: "")
      %li
        = image_tag("/images/jwplayer.svg", alt: "", class: "")


    %h4.sponsors__type
      Bronze
    %ul.sponsors__sponsor-list.bronze
      %li
        = image_tag("/images/unified-streaming.png", alt: "", class: "")
      %li
        = image_tag("/images/hulu.svg", alt: "", class: "")
      %li
        = image_tag("/images/m2a-media.svg", alt: "", class: "")
      %li
        = image_tag("/images/philo.svg", alt: "", class: "")
      %li
        = image_tag("/images/vimeo.svg", alt: "", class: "")


    %h4.sponsors__type
      Party

    %ul.sponsors__sponsor-list.party
      %li
        = image_tag("/images/brightcove.png", alt: "", class: "")

    %h4.sponsors__type
      Conference organizers

    %ul.sponsors__sponsor-list.conf
      %li
        = image_tag("/images/mux.svg", alt: "", class: "")



