---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container
    %h1.home-hero__heading
      The Conference for Video Engineers
    %h2.home-hero__sub-heading
      October 5, 2017 • San Francisco, <a href="https://www.google.com/maps/place/Broadway+Studios/@37.7980335,-122.4066383,17z/data=!3m1!4b1!4m5!3m4!1s0x808580f4f8a46c3d:0x5715fb6f7e87bb89!8m2!3d37.7980293!4d-122.4044496">Broadway Studios</a>

    %h3.home-hero__speaking
      Interested in speaking?
    = link_to "Submit a Talk!", "/proposal-form", "class" => "home-hero__btn"


    = image_tag("/images/hero-illustration-mobile.svg", alt: "", class: "hero-illustration-mobile")
    = image_tag("/images/hero-illustration.svg", alt: "", class: "hero-illustration")


%section.sponsors#sponsors
  %div.container
    %h2.section-heading
      Our Sponsors

    %h4.sponsors__type
      Platinum

    %ul.sponsors__sponsor-list.platinum
      / %li
      /   = image_tag("/images/ellation.png", alt: "", class: "")
      %li
        = link_to image_tag("/images/bitmovin.svg", alt: "", class: ""), "https://bitmovin.com/"
      / %li
      /   = image_tag("/images/netflix.svg", alt: "", class: "")

    / %h4.sponsors__type
    /   Gold

    / %ul.sponsors__sponsor-list.gold
    /   %li
    /     = image_tag("/images/beamr.svg", alt: "", class: "")
    /   %li
    /     = image_tag("/images/jwplayer.svg", alt: "", class: "")
    /   %li
    /     = image_tag("/images/google.svg", alt: "", class: "")
    /
    / %h4.sponsors__type
    /   Silver
    / %ul.sponsors__sponsor-list.silver
    /   %li
    /     = image_tag("/images/wowza.svg", alt: "", class: "")


    %h4.sponsors__type
      Bronze
    %ul.sponsors__sponsor-list.bronze
      %li
        = link_to image_tag("/images/peer5.svg", alt: "", class: ""), "https://www.peer5.com/"
      %li
        = link_to image_tag("/images/unified-streaming.png", alt: "", class: ""), "http://unified-streaming.com"
