---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container            
    %h1.home-hero__heading
      The Conference for Video Engineers
    %h2.home-hero__sub-heading
      October 13, 2017 • San Francisco, Ellation HQ
    
    %h3.home-hero__speaking
      Interested in speaking?
    %a.home-hero__btn{href:"mailto:info@demuxed.com"} Get in touch

      
    = image_tag("/images/hero-illustration-mobile.svg", alt: "", class: "hero-illustration-mobile")
    = image_tag("/images/hero-illustration.svg", alt: "", class: "hero-illustration")
      
        
%section.sponsors#sponsors
  %div.container
    %h2.section-heading
      Our Sponsors
    
    %h4.sponsors__type
      Platinum
    
    %ul.sponsors__sponsor-list.platinum
      / %li
      /   = image_tag("/images/ellation.png", alt: "", class: "")
      %li
        = image_tag("/images/bitmovin.svg", alt: "", class: "")
      / %li
      /   = image_tag("/images/netflix.svg", alt: "", class: "")

    / %h4.sponsors__type
    /   Gold
      
    / %ul.sponsors__sponsor-list.gold
    /   %li
    /     = image_tag("/images/beamr.svg", alt: "", class: "")
    /   %li
    /     = image_tag("/images/jwplayer.svg", alt: "", class: "")
    /   %li
    /     = image_tag("/images/google.svg", alt: "", class: "")
    / 
    / %h4.sponsors__type
    /   Silver  
    / %ul.sponsors__sponsor-list.silver
    /   %li
    /     = image_tag("/images/wowza.svg", alt: "", class: "")


    %h4.sponsors__type
      Bronze  
    %ul.sponsors__sponsor-list.bronze
      %li
        = image_tag("/images/peer5.svg", alt: "", class: "")        
      %li
        = image_tag("/images/unified-streaming.png", alt: "", class: "")



      
            